<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CSPC SIAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpass.css') }}">
</head>

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <img src="{{ url_for('static', filename='images/CSPCLogo.png') }}" style="width: 100px; " class="center">
                <center>
                    <h6> Camarines Sur Polytechnic Collges </h6>
                    <p> Nabua, Camarines Sur </p>
                	
                <br>
                <form action="/" method="post">
                    <div class="inputbox">
                        <input type="text" id="CSPCEmailAddress" name="CSPCEmailAddress" required>
                        <label>CSPC Email Address</label>
                    </div>
                    <div class="inputbox">
                        <input type="text" id="student_number" name="student_number" required>
                        <label>Student Number</label>
                    </div>
                    <div class="inputbox">
                        <input type="text" id="Full_Name" name="Full_Name" required>
                        <label>Full Name</label>
                    </div>
                    <button class="btn login">Submit</button>
                    <p class="notemessage"> We will check if the information you provided is matched then we will send your new password through your email </p>
                </form>
            </div>
        </div>
    </section> 
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>