<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>CSPC SIAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <section>
        <div class="itemsAlign">
            <div class="form-box">
                <div class="form-value">
                    <img src="{{ url_for('static', filename='images/CSPCLogo.png') }}" style="width: 100px; " class="center">
                    <center>
                        <h6> Camarines Sur Polytechnic Collges </h6>
                        <p> Nabua, Camarines Sur </p>
                    </center>
                    <br>
                    <div class="buttonsNav">
                        <a href="/" class="btn btn1">Administrator</a>
                        <a href="/" class="btn btn1">Instructor</a>
                        <a href="/loginStudent" class="btn btn1">Student</a>
                        <a href="/" class="btn btn1">Parent</a>
                        <a href="/" class="btn btn1">Admission</a>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</body>

</html>